<<<<<<< HEAD
/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #6656f9;
    color: #fff;
    padding: 5px 20px; /* Reduce vertical padding, keep horizontal padding */
    text-align: center;
}

nav {
    background-color: #6656f9;
    color: #fff;
    padding: 5px 20px; /* Reduce vertical padding, keep horizontal padding */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px; /* Reduce margin between navbar items */
}

nav ul li.login-icon {
    float: right;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px; /* Reduce font size */
}

main {
    padding: 20px; /* Keep the padding as it was */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #6656f9;
    color: #fff;
    text-align: center;
    padding: 10px;
}
=======
/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #6656f9;
    color: #fff;
    padding: 5px 20px; /* Reduce vertical padding, keep horizontal padding */
    text-align: center;
}

nav {
    background-color: #6656f9;
    color: #fff;
    padding: 5px 20px; /* Reduce vertical padding, keep horizontal padding */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px; /* Reduce margin between navbar items */
}

nav ul li.login-icon {
    float: right;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px; /* Reduce font size */
}

main {
    padding: 20px; /* Keep the padding as it was */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #6656f9;
    color: #fff;
    text-align: center;
    padding: 10px;
}
>>>>>>> edb0d550bb3b14100fe77431cd9e7433f0c5f397
